<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.nribeka.search"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="10"/>
    <application android:label="@string/app_name">
        <activity android:name=".activities.ListPatientActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:label="@string/app_name"
                android:name=".activities.PreferencesActivity" />
        <activity
                android:label="@string/app_name"
                android:name=".activities.ViewPatientActivity" />
        <activity
                android:label="@string/app_name"
                android:name=".activities.ObservationChartActivity" />
        <activity
                android:label="@string/app_name"
                android:name=".activities.ObservationTimelineActivity" />
    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest> 
